<app-header></app-header>
<div class="row gutterFix">
    <!-- colSide -->
    <div class="colSide">
        <app-sidenav></app-sidenav>
    </div>
    <!-- colMain -->
    <div class="colMain">
        <!-- content -->
        <div class="col p-3 py-4">
            <div class="container-fluid">
                <!-- sideebar -->
                <div class="row mt-2" id="detailcard">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-4">

                        <div *ngFor="let user of users" class="card" id="useraccountNo">
                            <div class="card-title">Account Number</div>
                            <div class="card-icon"><span class="material-symbols-sharp rzi">savings</span></div>
                            <div class="card-data">{{user.accountNumber}}</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-4">
                        <div *ngFor="let user of users" class="card" id="useraccountNo">
                            <div class="card-title">Account Balance</div>
                            <div class="card-icon"><span
                                    class="material-symbols-outlined rzi">account_balance_wallet</span></div>
                            <div class="card-data">{{user.currency}}{{user.balance.toLocaleString()}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-4 walletcard">
                        <div>
                            <div class="walletHeader">
                                <h1>Wallets</h1>
                                <button (click)="openModal()" id="createnewWallet">
                                    <h1>Create new wallet</h1>
                                </button>
                            </div>
                            <div (click)="ViewNGNDetail()" class="walletdetails">
                                <img src="assets/icons8-naira-50.png">
                                <h4>Naira</h4>
                            </div>
                            <div (click)="ViewUSdDetail()" class="walletdetails" style="display: none;" id="usdDisplay">
                                <img src="assets/icons8-dollar-sign-50.png">
                                <h4>Dollar</h4>
                            </div>
                            <div (click)="ViewEurDetail()" class="walletdetails" style="display: none;" id="eurDisplay">
                                <img src="assets/icons8-euro-sign-50.png">
                                <h4>Euro</h4>
                            </div>
                            <div (click)="ViewGbpDetail()" class="walletdetails" style="display: none;" id="gbpDisplay">
                                <img src="assets/icons8-british-pound-50.png">
                                <h4>GBP</h4>
                            </div>
                            <div class="rates">
                                <small>Exchange rates</small>
                            </div>
                        </div>
                    </div>

                    <!-- transaction table -->
                    <div class="container-fluid py-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="card my-4">
                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                            <h6 class="text-white text-uppercase px-2">Recent Transactions</h6>
                                        </div>
                                    </div>
                                    <div class="card-body px-0 pb-2">
                                        <div class="table-responsive p-0">

                                            <table class="table table-bordered align-items-center ">
                                                <thead>
                                                    <tr>
                                                        <th
                                                            class="text-center  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                            Sender&nbsp;</th>
                                                        <th
                                                            class="text-center  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                            Amount&nbsp;</th>
                                                        <th
                                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                            Transaction Type&nbsp;</th>
                                                        <th
                                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                            Receiver&nbsp;</th>
                                                        <th
                                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                            Date&nbsp;</th>
                                                    </tr>

                                                </thead>
                                                <tbody id="table-body">
                                                    <tr *ngFor="let data of tabledata let i = index" id="sender"
                                                        ng-click="getData($event)">
                                                        <!-- <tr *ngFor="let data of tabledata | orderBy: key: reverse | search: searchText | paginate: {itemsPerPage: tableSize, 
                                                            currentPage: page,
                                                            totalItems: count}; let i = index" id="sender"> -->
                                                        <td>{{data.senderInfo}}</td>
                                                        <td>{{data.txnAmount}} {{data.currency}}</td>
                                                        <td>
                                                            <p
                                                                [ngClass]="data.transType == 'CREDIT' ? 'badge bg-success': 'badge bg-danger'">
                                                                {{data.transType}}</p>
                                                        </td>
                                                        <td>{{data.receiverInfo}}</td>
                                                        <td>{{data.dateofTransaction | date:'short'}}</td>
                                                        <td [ngClass]="(data.senderInfo === data.senderInfo.toUpperCase() || data.receiverInfo === data.receiverInfo.toUpperCase() || data.transType == 'CREDIT' )== true? 'd-none': 'd-block'"
                                                            id="repeatTxnBtn"><input type="button"
                                                                value="Repeat Transaction"
                                                                (click)="openNewTransactionModal(data)" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-sm-end flex-end" id="allTxns">
                                                <a (click)="goToTransactionsPage()">View all Transactions</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
<app-spinner></app-spinner>