@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";
body{
    font-family: 'Urbanist', sans-serif;
    background: #ececec;
}

.sidenav{
    background-color: #fff;
    position: sticky;
}

.rzi {
    font-family: "Material Icons Outlined";
  }

.col-md-2 {
    /* height: 100vh !important; */
    position: sticky !important;
}  
.nav-pills li a.active {
  width: 100%;
  background-color: #53277E;
  color: #fff !important;
  margin-left: 0;
  padding: 3px;
}
.nav-pills li a{
  color: #53277E !important;
}

#logout span{
  color: #53277E !important;
}

#logout {
  cursor: pointer;
}

#logout span:hover{
  color: red !important;
  transition: all .2s ease-in;
}

.nav-pills li a:hover{
    background-color: #53277E;
    color: #fff !important;
    transition: all .2s ease-in;
}

#detailcard .card {
    color: rgba(0, 0, 0, 0.87);
    border-radius: 10px !important;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

#detailcard .card .card-title {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    font-size: 18px;
    font-weight: 300;
  }

#detailcard .card .card-data {
    display: flex;
    justify-content: flex-end;
    padding: 16px 16px 0 0;
    font-size: 1.5rem;
    font-weight: 300;
  }

#detailcard .card .card-icon {
    display: flex;
    position: absolute;
    top: -20px;
    left: 12px;
    background: linear-gradient(60deg, #ffa726, #EF6C00);
    color: white;
    width: 90px;
    height: 90px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    border-radius: 25%;
  }

#detailcard .card .card-icon span {
    font-size: 4rem;
  }

#detailcard #useraccountNo .card-icon {
    background: linear-gradient(60deg, #53277E, #a682bb);
  }


.shadow-primary{
    background-color: #53277E;
}  

table #tbody td {
    height: 2rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    text-align: center;
}

table tr td {
    height: 2rem;
    border-bottom: 1px solid rgba(132, 139, 200, 0.18);
    text-align: center;
}

table #tbody tr:last-child td{
    border: none;
}

.search{
  border-bottom: none;
}

.searchButton {
  width: 37px;
  height: 32px;
  border: 3px solid #53277E;
  background: #fff;
  text-align: center;
  color: #53277E;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.searchTerm {
  border: 3px solid #53277E;
  border-right: none; 
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #5a5757;
}

.row.gutterFix{
  --bs-gutter-x: 0
}

.colSide{
  flex: 0 0 auto;
  width: 15%;
}

.colMain{
  flex: 0 0 auto;
  width: 85%;
}


/* Transfer Page */
.tranferContainer{
  display: flex;
  justify-content: center;
}

.transferPage{
  width: 50%;
  margin-top: 20px;
  margin-right: 50px;
  padding: 30px;
  background: #fff;
  position: relative;
  border-radius: 5px;
}

#txnDetails{
  /* display: flex;
  justify-content: center;*/
  margin: 0; 
  padding: 20px;
  text-align: center;
  background: #EEF2F4;
  color: #5D6F78;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid #DEDEDE;
  border-radius: 5px;
}

.transferPage .detailsHolder h3{
  font-size: 15px !important;
}

.detailsHolder{
  padding-top: 20px;
  padding-bottom: 15px;
}

#account {
  width: 100%;
}

#txnaccount {
  width: 80%;
}

#tranfersMain #userbalance {
  width: 260px;
}

#tranfersMain .card .card-title {
  padding: 13px; 
}

#tranfersMain .card .card-icon {
  width: 70px;
  height: 70px;
}

#tranfersMain .card .card-icon span {
  font-size: 3rem;
}

#tranfersMain #userbalance .card-icon {
  background: linear-gradient(60deg, #53277E, #a682bb);
}

.input-line{
  margin-top: 18px;
}

.input-line label{
  color: #46545C;
  margin-bottom: 2px;
}

.input-line input[type="text"], input[type="number"]{
    width: 100%;
    height: 35px; 
    padding: 0 10px;
    display: inline-block;
    background-color: #fff;
    color: #46545C;
    border-radius: 4px;
    border:1px solid #46545C;
    font-size: 14px; 
    box-sizing: border-box; 
    transition: 0.3s;
}

.input-line input[type=text]:focus {
  border: 2px solid #53277E;
}
.detailsHolder h3{
  color: #46545C;
  /* margin-bottom: 2px; */
}
#input-amount{
  margin-top: 0;
  margin-bottom: 15px;
}

#acntSearchBtn{
  margin-left: 15px;
  background-color: #53277E!important;
  border: none;
}

#errorMsg{
  margin-top: 30px;
}

#payBtn{
  width: 100%;
  outline: 0!important;
  height: 42px;
  font-size: 16px;
  background-color: #53277E!important;
  border: none;
  border-radius: 3px;
  color: #fff;
}

#payBtn:hover,#acntSearchBtn:hover {
  background-color: #653780 !important;
}

.modal-header{
  border-bottom: none !important;
  padding-top: 1px !important;
  padding-right: 1rem !important;
}
.cardStyle {
  width: 500px;
  border-color: white;
  background: #fff;
  padding: 25px 0;
  border-radius: 4px;
  margin: 30px 0;
  box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
}

#formTitle {
font-weight: 600;
color: #2F2D3B;
text-align: center;
}

.inputLabel {
font-size: 12px;
color: #555;
margin-bottom: 6px;
margin-top: 24px;
}

select {
  color: #555;
}

.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input,select,textarea {
height: 40px;
font-size: 13px;
border-radius: 4px;
border: none;
border: solid 1px #ccc;
padding: 0 11px;
}

textarea{
  padding: 9px 17px;
  color: #555;
}

input:disabled {
cursor: not-allowed;
border: solid 1px #eee;
}

.buttonWrapper {
margin-top: 40px;
}

.submitButton {
  width: 70%;
  height: 40px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #53277E;
  border-color: #653780;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.submitButton:disabled,
button[disabled] {
border: 1px solid #cccccc;
background-color: #cccccc;
color: #666666;
}

.buttonWrapper a {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* fund account */
#fundPage{
  width: 40%;
}

#fundPage #input-amount label {
  margin-top: 20px !important;
}

/* modal component */
:host {
  ::ng-deep {
    .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
      opacity: 1 !important;
    }
  }
}



::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: #fff !important;
  }
