<div class=" row gutterFix">
    <div class="colSide">
        <app-header></app-header>
    </div>
    <div class="colMain" id="tranfersMain">
        <!-- <section class="vh-100" style="background-color: #f4f5f7;"> -->
            <div id="gotoeditInfo" class="container py-5">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                  <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                      <div class="col">
                        <div class="card-body p-4">

                          <form [formGroup]="fileForm" class="editForm">
                          <div>
                          <img [src]="url"
                          alt="Avatar" class="img-fluid" style="width: 120px;" id="editImg"/>
                          <div class='file file--upload'>
                            <label for='input-file'>
                              <i class="material-icons">cloud_upload</i>Select a photo
                            </label>
                            <input (change)="handleFileInput($event)" id='input-file' type='file'accept="image/png, image/jpg"/>
                          </div>
                            </div>
                            <div>
                              {{dataa}}
                                <!-- <label for="firstname" class="profile-main__input-label">Firstname</label>
                                <input type="text"  formControlName="firstName" class="profile-main__input" value="{{item}}">
                                <label for="lastname" class="profile-main__input-label">Lastname</label>
                                <input type="text"  formControlName="lastName" class="profile-main__input" value="{{item.lastName}}">
                                <label for="address" class="profile-main__input-label">Address</label>
                                <input type="text"  formControlName="address" class="profile-main__input" value="{{item.address}}">
                                <label for="phonenumber" class="profile-main__input-label">Phonenumber</label>
                                <input type="text" formControlName="phonenumber" class="profile-main__input" value="{{item.phonenumber}}"> -->
                            </div>
                              </form>
                          <button (click)="saveUserInfo($event)" type="submit" id="editButton" class="submitButton pure-button pure-button-primary"><span>Save</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- </section> -->
    </div>
    <router-outlet></router-outlet>
</div>



