<div class=" row gutterFix">
    <div class="colSide">
        <app-header></app-header>
    </div>
    <div class="colMain" id="tranfersMain">
        <!-- <section class="vh-100" style="background-color: #f4f5f7;"> -->
            <div id="infoPage" class="container py-5 ">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-7 mb-4 mb-lg-0">
                  <div class="card mb-3" style="border-radius: .5rem;">
                    {{details}}
                    <!-- <div class="row g-0">
                      <div class="col-md-4 gradient-custom text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <form>
                          {{details}}
                        <img [src]="url"
                          alt="Avatar" class="img-fluid my-5 imagePreview" style="width: 100px;"/>
                          <div class='file file--upload' id="fileUploadbtn">
                            <label for='input-file'>
                              <i class="material-icons">cloud_upload</i>Upload
                            </label>
                            <input (change)="showPreview($event)" id='input-file' type='file' accept="image/png, image/jpg"/>
                          </div>
                          <button (click)="deleteProfilePicture()" style="display: none;" type="button" class="btn btn-danger" id="deletePic">Delete Image</button>
                          </form>
                      </div>
                      <div class="col-md-8">
                        <div *ngFor="let detail of details" class="card-body p-4">
                          <h6>Information</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-6 mb-3">
                              <h6>Full name</h6>
                              <p class="text-muted">{{detail.firstName}} {{detail.lastName}}</p>
                            </div>
                            <div class="col-6 mb-3">
                              <h6>Email</h6>
                              <p class="text-muted">{{detail.email}}</p>
                            </div>
                          </div>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-6 mb-3">
                              <h6>Phone</h6>
                              <p class="text-muted">{{detail.phonenumber}}</p>
                            </div>
                            <div class="col-6 mb-3">
                              <h6>Address</h6>
                              <p class="text-muted">{{detail.address}}</p>
                            </div>
                            <div class='editInfo'>
                              <button [routerLink]="['./editinfo']" type="button">Edit</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>  
          <!-- </section> -->
    </div>
    <!-- <app-edit-info *ngIf="this.details && this.details.length" [item]="this.details"></app-edit-info> -->
    
    <!-- <app-edit-info [dataa]="this.details"></app-edit-info> -->

    <router-outlet></router-outlet>
</div>
