@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');
@import "https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round";

body {
    font-family: 'Urbanist', sans-serif;
    background: #ececec;
}

.colSide {
    flex: 0 0 auto;
    width: 15%;
}

.colMain {
    flex: 0 0 auto;
    width: 85%;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

table {
    background-color: #f2f2f2;
}

table thead {
    color: #FFF;
    font-weight: 700;
    background: #53277E;
    background: -moz-linear-gradient(-45deg, #53277E 0%, #9b4085 100%);
    background: -webkit-linear-gradient(-45deg, #53277E 0%, #9b4085 100%);
    background: linear-gradient(135deg, #53277E 0%, #9b4085 100%);
    white-space: nowrap;
}

.search {
    justify-content: end;
    align-items: center;
    margin-bottom: 14px;
}

.search input {
    padding: 8px;
}

.glacntContainer h3 {
    font-weight: 300;
    font-size: 20px;
}


.submitBtn {
    background-color: #53277E;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.navBtn {
    padding: 6px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    color: #53277E;
    margin-bottom: 20px;
}

.form-group {
    padding-bottom: 10px !important;
}

img {
    width: 393px;
    height: auto;

}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#unlockBtn {
    background-color: #53277E;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#unlockBtn:hover {
    background-color: #9b4085;
}
.text-center {
    color: #53277E !important;
}
.container h3{
    font-size: 13px;
}