<app-header></app-header>
<div class=" row gutterFix">
    <div class="colSide">
        <app-sidenav></app-sidenav>
    </div>
    <div class="colMain">
                <!-- content -->
                <main class="main-container">
                    <div class="row main-cards pt-4">
                        <div class="col-md-4">
                            <div class="card-body">
                                <img src="/assets/undraw_add_files_re_v09g.svg" alt="icon">
                            </div>
                        </div>
                        <div class="container col-md-6">
                            <div id="lockuserContainer" >
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="text-center">KYC Verification</h4>
                                    </div>
                                        <!-- <div class="imgContainer">
                                            <img src="/assets/undraw_add_files_re_v09g.svg" alt="icon">
                                        </div> -->
                                        <div class="card-body" id="formContainer">
                                        <div class="form-group">
                                            <label for="">{{docOne | titlecase}}</label>
                                            <input (change)="DocOneOnChange($event)" type="file" class="form-control" id="{{docOne}}" accept="image/*,.pdf,.doc ">
                                        </div>                               
                                        <div class="form-group">
                                            <label for="">{{docTwo | titlecase}}</label>
                                            <input (change)="DocTwoOnChange($event)" type="file" class="form-control" id="{{docTwo}}" accept="image/*,.pdf,.doc ">
                                        </div>                               
                                        <div>
                                            <button (click)="UploadDocuments()" class="submitBtn float-right" id="buttonPrimary">Upload</button>
                                        </div>
                                    </div>
                                    <div class="container" *ngIf="loading">
                                        <h3>{{kycmessage}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
    </div>
</div>
<router-outlet></router-outlet>
