<div class=" row gutterFix">
    <div class="colSide">
        <app-header></app-header>
    </div>
    <div class="colMain" id="tranfersMain">
        <!-- <section class="vh-100" style="background-color: #f4f5f7;"> -->



            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                  <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                      <div class="col">
                        <div class="card-body p-4">
                                <h3 class="pinHeading mb-4 mt-4">Password Settings</h3>

                          <form class="editForm">
                                <label for="firstname" class="profile-main__input-label">Old Password</label>
                                <input type="password" class="profile-main__input">
                                <label for="firstname" class="profile-main__input-label">Security Question</label>
                                <textarea type="text" class="profile-main__input"></textarea>
                                <label for="firstname" class="profile-main__input-label">Security Answer</label>
                                <input type="text" class="profile-main__input">
                                <div class="row g-2">
                                <div class="col-md">
                                <label for="firstname" class="profile-main__input-label">New Password</label>
                                <input type="password" class="profile-main__input">
                                </div>
                                <div class="col-md">
                                <label for="firstname" class="profile-main__input-label">Confirm Password</label>
                                <input type="password" class="profile-main__input">
                                </div>
                                </div>
                          </form>

                          <button type="button" id="changePasswordBtn" class="submitButton__password pure-button pure-button-primary pt-2"><span>Save</span></button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- </section> -->
          <router-outlet></router-outlet>
    </div>
</div>



