.chatpage{
    display: flex;
    
}

.chatcontainer {
    /* margin: 60px auto; */
    background: #fff;
    padding: 0;
    height: 465px;
    width: 678px !important;
    position: relative;

}

.subContainer{
    height: 465px;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.settings-tray .no-gutters {
    padding: 0;
}

.settings-tray--right {
    /* float: right; */
    display: flex;
}

.settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 30px;
    transition: 0.3s;
}

.settings-tray--right i:hover {
    color: #53277E;
    cursor: pointer;
}

.search-box {
    background: #fafafa;
    padding: 10px 13px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-box .input-wrapper {
    background: #fff;
    border-radius: 40px;
}

.search-box .input-wrapper i {
    color: grey;
    margin-left: 7px;
    vertical-align: middle;
}

input {
    border: none;
    border-radius: 30px;
    width: 80%;
}

input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: 0.3s ease;
}

.friend-drawer:hover{
    cursor: pointer;
}

.friend-drawer--grey {
    background: #eee;
}

.friend-drawer .text {
    margin-left: 12px;
    width: 100%;
}

.friend-drawer .text h6 {
    margin-top: 6px;
    margin-bottom: 0;
}

.friend-drawer .text p {
    margin: 0;
}

.friend-drawer .time {
    color: grey;
}

.friend-drawer--onhover:hover {
    background: #53277E;
    cursor: pointer;
}

.active {
    background: #53277E;
    color: #fff;
}
.active .time {
    color: #fff !important;
}
.active .text .text-muted{
    color: #fff !important;
}


.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
    color: #fff !important;
}

hr {
    margin: 5px auto;
    width: 60%;
}

.centerdate{
    display: flex;
    justify-content: center;
}

.centerdate h4{
    font-size: 14px;
}

.chat-bubble {
    padding: 10px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
}

.chat-bubble span{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 11px;
    color: #333;
}

.offset-md-9 .chat-bubble--right span{
    color: #fff !important;
}

.chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left:after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right:after {
    right: 0;
    border-left-color: #53277E;
    border-right: 0;
    margin-right: -20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.offset-md-9 .chat-bubble {
    background: #53277E;
    color: #fff;
}

.sendInput {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
}

.chat-box-tray input {
    margin: 0 10px;
    padding: 6px 2px;
}

.chat-box-tray i {
    color: grey;
    font-size: 30px;
    vertical-align: middle;
}

.chat-box-tray i:last-of-type {
    margin-left: 25px;
}

.chat-box-tray i:hover{
    cursor: pointer;
    color: #53277E;
}
#chatPanel{
    height: 335px;
    overflow-y: scroll;
}

#chatPanel .row {
    --bs-gutter-x: 0 !important;
}

.sideContainer{
    width: 322px !important;
    height: 465px !important;
    overflow-y: scroll;
}


@media only screen and (max-width: 900px) {
    .sideContainer{
        display: none;
    }
}

@media (min-width: 768px){
.col-md-3 {
    flex: none;
    width: fit-content !important;
}
.offset-md-9 {
    margin-left: auto !important;
    margin-right: 0 !important;
}
}