@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');
@import 'ngx-toastr/toastr';
body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area {
    width: 750px;
}

.forgot-text:hover{
    text-decoration: underline !important;
    color: #653780 !important;
}

.btn-primary{
    background: #53277E;
    border: none;
}
.btn-primary:hover{
    background: #653780;
}

.siguplink a{
    color: #53277E;
}


.formInput{
    position: relative;      
}

.formInput .fa-envelope-o{

    position: absolute;
    top: 20px;
    left: 20px;

    z-index: 1;
}    

.fa-eye-slash .btn {
    border: none;
    outline: none;
    box-shadow: none;
}

.input-field.error {
    border: 1px solid red;
    color: red;
}
