<div class=" row gutterFix">
    <div class="colSide">
        <app-header></app-header>
    </div>
    <div class="colMain" id="tranfersMain">
        <div class="row mt-4" id="detailcard">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-2">
                <div *ngFor="let user of users" class="card" id="userbalance">
                    <div class="card-title">Account Balance</div>
                    <div class="card-icon"><span class="material-symbols-outlined rzi">account_balance_wallet</span>
                    </div>
                    <div class="card-data">{{user.balance.toLocaleString()}}</div>
                </div>
            </div>
        </div>

        <div class="tranferContainer">
            <div class="transferPage" id="fundPage">
                <h3 id="txnDetails">Fund Account</h3>
                <form #transferForm="ngForm">
                <div class="input-line" id="input-amount">
                    <label for="name">Amount</label>
                    <input type="number" step="0.01" id="amount" placeholder="NGN" name="amount" [(ngModel)]="amount">
                </div>
                <button (click)="fundAccount()" type="submit" id="payBtn">Make
                    Deposit</button>
            </form>               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">

    <div class="modal-content">
        <a [href]= "url"></a>
        <!-- <iframe [src]="url" [frameBorder]="0" allowfullscreen></iframe> -->
    </div>
</div>

