<div class=" row gutterFix">
    <div class="colSide">
        <app-header></app-header>
    </div>
    <div class="colMain" id="tranfersMain">
        <div class="row mt-4" id="detailcard">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-2">
                <div *ngFor="let user of users" class="card" id="userbalance">
                    <div class="card-title">Account Balance</div>
                    <div class="card-icon"><span class="material-symbols-outlined rzi">account_balance_wallet</span>
                    </div>
                    <div class="card-data">{{user.balance.toLocaleString()}}</div>
                </div>
            </div>
        </div>

        <div class="tranferContainer">
            <div class="transferPage">
                <h3 id="txnDetails">Transfer Details</h3>
                <form #transferForm="ngForm">
                    <div class="input-line">
                        <label for="name">Account</label>
                        <div class="verifyAccoutsearch  me-md-2">
                            <input (keydown)="showBtn()" type="text" id="txnaccount" placeholder="Enter the Account number, Email or Username"
                                autocomplete="off" name="accountSearch" [(ngModel)] = "accountSearch">
                            <button (click)="onSearch()" class="btn btn-primary" id="acntSearchBtn" type="button">Search</button>
                        </div>
                    </div>

                    <div id="errorMsg" style="display: none;">
                        <small class="alert alert-danger" role="alert">{{errMsgHolder}}</small>
                    </div>

                    <div id="showDetail" style="display: none;">
                    <div *ngFor="let detail of detailHolder" class="detailsHolder">
                        <h3>Name:<span>{{detail.accountName}}</span></h3>
                        <h3>Account Number:<span>{{detail.accountNumber}}</span></h3>
                    </div>
                    <div class="input-line" id="input-amount">
                        <label for="name">Amount</label>
                        <input type="number" step="0.01" id="amount" placeholder="NGN" name="amount" ngModel>
                    </div>
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2"
                        id="payBtn">Complete Transaction</button>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Enter pin -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="cardStyle modal-content">
            <form #submitPin="ngForm" action="" method="post" name="signupForm" id="signupForm"
                (ngSubmit)="onCompleteTransaction(transferForm.value)">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div>
                    <h2 class="modal-title" id="formTitle">
                        Enter Pin
                    </h2>
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="pin">Pin</label>
                    <input type="password" id="pin" name="pin" placeholder="Enter your 4-digit pin" inputmode="numeric"
                        maxlength="4" required [(ngModel)]="pin">
                </div>

                <div class="buttonWrapper">
                    <button id="closeModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModalToggle2"
                        class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                        <span>Submit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>